<ion-header>
  <ion-toolbar>
    <ion-title>A propos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>Project Introduction :</h1>
  <ion-grid>
    <ion-row>
      <ion-col size="3">
        <img src="../../assets/img/PlayGame.png">
      </ion-col>
      <ion-col size="9">
        <p>
          L'objectif de ce projet est de mettre en œuvre les opérations CRUD à l'aide du framework Ionic, permettant aux utilisateurs de gérer des informations spécifiques des jeux vidéo.
        </p>
        <p>
          Ce projet se déroule dans le cadre d'un projet universitaire.
        </p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h2>Développeur:</h2>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <p>
          WANG Nuoxi
        </p>
        <p>
          BUT3 INFO
        </p>
        <p>
          <img src="../../assets/img/iut-logo.png">        
        </p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>