<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/games"></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="game">{{ game.name }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-button (click)="setModif()">Rendre Modifiable</ion-button>
  <div *ngIf="!modif">
    <ion-grid *ngIf="game">
      <ion-row>
        <ion-col>
          <strong>Disponible en magasin :</strong>
          <ion-icon *ngIf="game.released" name="checkmark"></ion-icon>
          <ion-icon *ngIf="!game.released" name="close-circle"></ion-icon>
        </ion-col>
        <ion-col>
          <ion-button (click)="onDelete(game.id)">
            <ion-icon name="trash"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <img [src]="game.pictureLink" [alt]="game.name" />
        </ion-col>
        <ion-col>
          <strong>Title</strong><br />
          {{game.name}} <br />
          <strong>Date</strong><br />
          {{game.releaseDate}} <br />
          <strong>Développeur</strong><br />
          {{game.developer}} <br />
          <strong>Prix</strong><br />
          {{game.prix}} <br />
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <strong>Description</strong><br />
          <p>{{game.description}}</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div *ngIf="modif">
    <ion-item>
      <ion-input type="text" label="Affiche" [(ngModel)]="game.pictureLink"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text" label="Titre" [(ngModel)]="game.name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text" label="Date" placeholder="DD/MM/YYYY" [(ngModel)]="game.releaseDate"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text" label="Déveloper" [(ngModel)]="game.developer"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text" label="Prix" [(ngModel)]="game.prix"></ion-input>
    </ion-item>
    <ion-item>
      <ion-toggle label="Disponible en magasin" [(ngModel)]="game.released"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-textarea label="Description" rows="20" [(ngModel)]="game.description"></ion-textarea>
    </ion-item>
  </div>
</ion-content>

<ion-footer style="background-color: transparent">
  <div *ngIf="showErrorMessage">
    <ion-text color="danger">{{ errorMessage }}</ion-text>
  </div>
  <ion-toolbar>
    <ion-button (click)="onModif()">Modifier</ion-button>
  </ion-toolbar>
</ion-footer>